.latestWork{
	background: #e1e1e1;
}
.latestWorkWrapper{
	box-sizing: border-box;	
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 50px 30px;
	font-size: .8125em;
	background: #fff;
	p{
		
		color: #999999;
	}
	a{
		color: #ff9900;
	}
}
.latestWorkBlock{
	width: calc(25% - 20px);
	p{
		margin: 15px 0;
	}
}
.caption{
	h2{
		font-size: 1.375em;
		font-weight: 100;
		color: #666666;
		margin-bottom: 20px;
	}
}
.workImageHolder{
	position: relative;
	overflow: hidden;
	width: 210px;
	height: 140px;
	background: #000;
	img{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;
		width: 100%;
		height: 140px;
	}
}