.slider{	
	position: relative;
	height: 340px;
	background: #252525;
}
.sliderWrapper{
	position: relative;
	margin: 0 20px;	
	height: 340px;
	overflow: hidden;
}
.imageHolder{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 340px;
	transform: translateX(100%);
	transition: transform 1s;
	img{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;
		width: 100%;
		height: 340px;
	}
}
.imageHolder.showed{
	transform: translateX(0);
}
.imageHolder.viewedLeft{
	transform: translateX(-100%);
}
.imageHolder.viewedRight{
	transform: translateX(100%);
}
.sliderNav{
	display: flex;
	position: absolute;
	top: 100%;
	left: 0;
	width: 96%;
	height: 15px;
	padding: 0 20px;
	background: #ff9900;
}
.sliderSelector{
	width: 20%;
	height: 15px;
	cursor: pointer;
		
}
.sliderSelector:hover{
	background: #fff;
}
.sliderSelector.whited{
	background: #fff;
}